.gradle/
.gradle-home/
build/
**/build/
.idea/
.DS_Store
local.properties
*.iml
out/

# Kotlin/JS and Wasm caches
kotlin-js-store/
composeApp/src/commonMain/composeResources/files/puzzles/*.json

# IntelliJ
*.ipr
*.iws
